<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<!-- Bootstrap-5.3.2 -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom Styles -->
		<link href="/css/settings.css" rel="stylesheet">
		<!-- Whales Manager Icons -->
                <link href="/css/wm-icons.css" rel="stylesheet">
		<!-- Whales Manager Favicon -->
		<link rel="icon" href="/favicon.ico" sizes="any">
                <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <title>Whales Manager</title>
    </head>
    <body>
		<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
			<a class="wm-navbar-brand" href="/"><span class="navbar-brand mx-2"><strong>Whales Manager</strong></span></a>
			<div class="container-fluid">
				<ul class="navbar-nav justify-content-end">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Docker</a>
						<ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" id="docker-system-engine">Engine and system status</a></li>
                                                        <li><a class="dropdown-item" id="docker-installed-images">Installed images</a></li>
                                                </ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Authentication</a>
                                                <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" id="authentication-native">Native</a></li>
                                                </ul>
					</li>
				</ul>
				<div class="justify-content-end">
					<span id="wm-navbar-menu-link" class="mx-2"><a class="mx-2" href=/settings><i class="wm-icons wm-icons-gear wm-2x wm-navbar-icon"></i><strong>Settings</strong></a></span>
				</div>
				
			</div>
			
		</nav>

		<main>
			<div id="mainContent" class="container">
			</div>
		</main>
		
	
	<!-- Bootstrap-5.3.2 JS Bundle-->	
	<script src="/js/bootstrap.bundle.min.js"></script>
	<!-- Custom Scripts -->
	<script src="/js/settings.js"></script>
    </body>
</html>
