.wm-login {
	margin-right: 0.5rem!important;
	margin-left: 0.5rem!important;
	margin-top: 0.5rem!important;
	margin-bottom: 0.5rem!important;
	border-radius: 0.25rem!important;
	background-color: #343a40!important;
	color: #fff!important;
	border-color: #ffc107!important;
	border: 1px solid;
}

.wm-login-header h1{
	text-align: center;
	margin-top: 0.5rem!important;
	color: #fff;

}

.wm-login div h4 {
	margin-top: 0.5rem!important;
	padding-top: 0.5rem!important;
}

.wm-login * {
	text-align: center;
}

.wm-login-icon {
        color: #ffc107 ;
	margin-bottom: 2.5rem!important;
}

#wm-login-button {
        color: #000;
        background-color: #ffc107;
        border-color: #ffc107;	
}

#wm-login-button:hover {
        background-color: #ffdb4d;
        border-color: #ffdb4d;
}

#wm-login-button:focus {
	box-shadow: none!important;
}

.wm-login-error {
        text-align: center;
        margin-top: 0.5rem!important;
	color: #dc3545;

}

.wm-spinner-grow {
    	width: 0.5rem;
    	height: 0.5rem;
    	vertical-align: -0.125em;
    	background-color: currentColor;
    	border-radius: 50%;
    	opacity: 0;
	animation: 0.75s linear infinite spinner-grow;
	animation-delay:
}

main {
	margin-top: 100px;
}

label {
	padding-top: 0.5rem!important;

}

input {
	margin-bottom: 0.5rem!important;
	background: #2c3034!important;
	border-color: #ffc107!important;
	color: #fff!important;

}

input:focus {
	box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, .25)!important;

}

body {
	background-color: #2c3034;

}
