@font-face {
  font-family: "wm-icons";
  src: url("../fonts/wm-icons.woff2?t=1710604638215") format("woff2"),
}

[class^="wm-icons-"], [class*=" wm-icons-"] {
  font-family: 'wm-icons' !important;
  font-style:normal;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wm-icons {
    font-weight: 400;
}

.wm-lg {
    font-size: 1.25em;
    line-height: .05em;
    vertical-align: -0.075em;
}

.wm-2x {
    font-size: 2em;
}

.wm-2xl {
    font-size: 2em;
    line-height: .03125em;
    vertical-align: -0.1875em;
}

.wm-icons-apache:before { content: "\ea01"; }
.wm-icons-centos:before { content: "\ea02"; }
.wm-icons-docker:before { content: "\ea03"; }
.wm-icons-fedora:before { content: "\ea04"; }
.wm-icons-gear:before { content: "\ea05"; }
.wm-icons-github:before { content: "\ea06"; }
.wm-icons-grafana:before { content: "\ea07"; }
.wm-icons-homeassistant:before { content: "\ea08"; }
.wm-icons-homebridge:before { content: "\ea09"; }
.wm-icons-key:before { content: "\ea0a"; }
.wm-icons-mariadb:before { content: "\ea0b"; }
.wm-icons-mongodb:before { content: "\ea0c"; }
.wm-icons-mosquitto:before { content: "\ea0d"; }
.wm-icons-motherboard:before { content: "\ea0e"; }
.wm-icons-mysql:before { content: "\ea0f"; }
.wm-icons-nginx:before { content: "\ea10"; }
.wm-icons-nodejs:before { content: "\ea11"; }
.wm-icons-person:before { content: "\ea12"; }
.wm-icons-php:before { content: "\ea13"; }
.wm-icons-pihole:before { content: "\ea14"; }
.wm-icons-play:before { content: "\ea15"; }
.wm-icons-postgresql:before { content: "\ea16"; }
.wm-icons-python:before { content: "\ea17"; }
.wm-icons-question:before { content: "\ea18"; }
.wm-icons-redhat:before { content: "\ea19"; }
.wm-icons-redis:before { content: "\ea1a"; }
.wm-icons-reload:before { content: "\ea1b"; }
.wm-icons-restart:before { content: "\ea1c"; }
.wm-icons-shieldlock:before { content: "\ea1d"; }
.wm-icons-splunk:before { content: "\ea1e"; }
.wm-icons-stop:before { content: "\ea1f"; }
.wm-icons-ubuntu:before { content: "\ea20"; }
.wm-icons-user:before { content: "\ea21"; }
.wm-icons-zigbee:before { content: "\ea22"; }

