[ca]
default_ca = CA_default

[CA_default]
private_key = certs/manager/ca.key
certificate = certs/manager/ca.crt
new_certs_dir = /tmp/
database = certs/manager/cadb.txt
serial = certs/manager/ca.srl
default_days = 365
default_md = sha256
policy = policy_anything
copy_extensions = copyall

[policy_anything]
countryName = optional
stateOrProvinceName = optional
localityName = optional
organizationName = optional
organizationalUnitName = optional
commonName = supplied
emailAddress = optional
