[ req ]
default_bits           = 4096
distinguished_name     = req_distinguished_name
req_extensions         = v3_ca
prompt                 = no

[ req_distinguished_name ]
O                      = Whales Manager CA
CN                     = Whales Manager CA

[ v3_ca ]
basicConstraints = critical, CA:true
