{
	"debugLevel": "info",
	"https": {
		"enabled": "true",
		"key": "certs/manager/servweb.key",
		"cert": "certs/manager/servweb.crt"
	},
	"authentication": {
                "enabled": "true",
                "type": "native"
        }
}
